.content .container {
  overflow-x: hidden;
  overflow-y: hidden;
  width:300px;
  height:600px;
  float:left;
  margin: 0;
  padding: 0;
  border: 1px solid grey;
  background-color: #282c34;
}

ul{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 50px;
  padding:5px;
}
li {
  margin: 0 0 20px 0;
  position:relative;
  left:0px;
  padding-left:1em
}

main{
  background-color: #282c34;
}

.new-task{
  background-color: #282c34;
  transition-duration: 0.4s;
  margin:5px;
}

.new-task:hover {
  background-color: #61dafb;
  color: white;
}

h2{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  font-family: 'Inconsolata', monospace;
}

html{
  background-color: #282c34;
}

h3{
  font-family: 'Inconsolata', monospace;
}

.task-description{
  font-family: 'Asap', sans-serif;
}

.containers{
  display: flex;
  justify-content: space-between;
}

div.toggle-buttons.modal-footer{
  display: flex;
  justify-content: space-between;
}

div.late-information{

  width:200px;
  content: "";
  height:10px;
}
